@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

html {
    font-size: 62.5%;
    scroll-behavior: smooth;
    font-family: "Montserrat", sans-serif;
    scroll-snap-type: y mandatory;
}

section {
    scroll-snap-align: start;
    min-block-size: 100vh;
    scroll-snap-stop: always;
  }

.navbar {
    @media (min-width: 1024px) {
        background: linear-gradient(to bottom, rgba(255, 255, 255, 0.5) 70%, transparent);
    }
    @apply flex items-center justify-between w-full fixed top-0 z-10 h-36 p-14 pb-16 max-lg:drop-shadow-[0_2px_5px_rgba(255,255,255,0.9)]; 

}

.nav_link {
    @apply text-2xl font-semibold text-black mx-3 px-3 py-2 rounded-xl bg-transparent hover:bg-black hover:bg-opacity-15 transition-all duration-300;
}

.car_section {
    @apply w-full h-screen relative;
}

.car_img {
    @apply w-full h-full object-cover;
}

.car_details {
    @apply absolute top-[10%]  text-center w-full drop-shadow-[0_2px_5px_rgba(255,255,255,0.9)] max-sm:hidden;;
}

.transform_50 {
    transform: translate(-50%, -50%);
}

.model_name {
    @apply lg:text-7xl text-gray-800 text-opacity-90 py-5 font-semibold text-4xl;
}

.tag_line {
    @apply text-gray-800 text-2xl;
}

.car_buttons {
    @apply absolute lg:top-[90%] lg:left-[50%] top-[80%] left-[20%] flex flex-col lg:flex-row max-sm:hidden;
}

.btn {
    @apply text-2xl text-white bg-gray-800 bg-opacity-80 font-medium uppercase my-2 py-2 px-10 rounded-full w-96 h-16;
}

.inventory {
    @apply text-gray-700 bg-white bg-opacity-60 lg:ml-28;
}

.arrow_svg {
    /* @apply relative z-10 h-20 mx-auto top-[94%] bg-white bg-opacity-20 animate-bounce; */
    @apply block w-full h-20 mx-auto absolute top-[94%] animate-bounce drop-shadow-[0_2px_5px_rgba(255,255,255,0.9)] max-sm:top-[80%];
}

.small {
    @apply max-sm:hidden;
}

